header {
    top: 0;
    max-width: 1300px;
    padding-top: 22px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlink {
    text-decoration: none;
    transition: 0.3s;
}

.navlink:hover {
    color: #574738;
}

.ikon {
    cursor: pointer;
}

.logo {
    font-weight: 900;
}