.add_wrapper {
    max-width: 1300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}